@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: rgba(20, 20, 20, 1);
    --p-color: rgba(153, 153, 153, 1);
    --btn-bg: rgba(26, 26, 26, 1);
    --border-color: rgba(38, 38, 38, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Urbanist", sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;

}

::-webkit-scrollbar {
    display: none;
}

/* start header  */


header {
    background-image: url('/assets/BACKGROUND\ 2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 63px;
    width: 100vw;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid #666666;

}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header .container {
    display: flex;
    color: white;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}

header .container h5 {
    margin: 0;
    font-size: 14px;
    margin-top: auto;

}

header .header-img {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

/* small devices */
@media (max-width:767px) {
    header {
        height: 78px;
        font-size: 12px;
    }

    header .container h5 {
        font-size: 12px;
    }
}

@media (min-width:360px) and (max-width:400px) {
    header .container .header-img {
        width: 18px !important;
        height: 18px !important;
    }

    header .text-header {
        gap: 5px !important;
    }
}

/* start navbar */
.navbar {
    color: white !important;
    background: #000;
    padding: 20px;
}

.navbar .btn {
    border: 1px solid #262626;
    border-radius: 10px;
}

.nav-link.active {
    border: 1px solid #262626;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.nav-item a {
    font-family: 18px;
    font-weight: 500;
}

form button {
    background-color: #262626;
}

.navbar-nav .nav-item {
    padding-right: 30px;
}


@media (max-width: 991px) {


    .navbar-nav .nav-item {
        padding-right: 24px;
    }
}

/* start hero section */
.hero-p {
    font-weight: 500;
    font-size: 18px;
    color: rgba(153, 153, 153, 1);

}

.hero-sec-btn {
    background-color: rgba(112, 59, 247, 1);
}

.cards span {
    color: rgba(153, 153, 153, 1);
    font-size: 16px;
    font-weight: 500;
}

.cards .hero-card {
    padding: 20px 14px;
    border: 1px solid rgba(38, 38, 38, 1);
    background-color: rgba(26, 26, 26, 1);
    border-radius: 10px;

}

.cards .hero-card h5 {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width:767px) {
    .cards .hero-card h5 {
        font-size: 24px;
    }

    .cards span {
        font-size: 14px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .cards .hero-card h5 {
        font-size: 30px;
    }

    .cards span {
        font-size: 16px;
    }
}

/* start Key Features */
.key-features img.img-fluid {
    width: 24px;
}

.key-features {
    padding: 20px;
}

.key-features span {
    font-weight: bold;
    font-size: 15px;

}

.Key-features-text {
    border: 1px solid rgba(38, 38, 38, 1);
    background-color: rgba(26, 26, 26, 1);
    border-radius: 10px;
}

.custom-h-p {
    padding: 30px 20px;
}

.h-arrow-img {
    padding: 20px 15px 0 0;
}

.box {
    --n: 2;
    --d: 8deg;
    --t: 5px;
    --c: rgba(166, 133, 250, 1);
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 20px;

}

.box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: var(--t);
    background: var(--c);
    mask:
        linear-gradient(#0000 0 0) content-box,
        repeating-conic-gradient(from calc(var(--d) / 2),
            #000 0 calc(239deg / var(--n) - var(--d)),
            #0000 0 calc(360deg / var(--n)));
    mask-composite: intersect;
    transform: rotate(61deg);
    opacity: 0.5;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -11px;
    top: -12px;
    bottom: -10px;
    right: -13px;
    border-radius: 50%;
    padding: var(--t);
    background: var(--c);
    mask: linear-gradient(#0000 0 0) content-box, repeating-conic-gradient(from calc(var(--d) / 2), #000 0 calc(239deg / var(--n) - var(--d)), #0000 0 calc(360deg / var(--n)));
    mask-composite: intersect;
    transform: rotate(-24deg);
    opacity: 0.5;
}

.box img {
    width: 40px;
    height: auto;
    position: relative;
    z-index: 2;
}

/* start Featured Properties */
.featured-properties h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

@media (max-width:767px) {
    .featured-properties h1 {
        font-size: 28px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .featured-properties h1 {
        font-size: 38px;
    }
}

.featured-properties p {
    color: var(--p-color);
    font-size: 15px;
}

.featured-properties a.view-all {
    padding: 18px 24px;
    background-color: var(--btn-bg);
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.feat {
    border-radius: 28px;
    background-color: var(--btn-bg);
    padding: 10px;
}

.feat span {
    color: white;
    font-size: 15px;
}

.feat img {
    width: 15px;

}

.featured-properties-card {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 40px;
}

.card-features {
    flex-wrap: wrap;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.cards a {
    padding: 18px 24px;
    color: white;
    border-radius: 10px;
    background-color: rgba(112, 59, 247, 1);
}

.price {
    justify-content: space-between;
}

.mobile-btns {
    display: none;
}

@media (max-width:767px) {
    .cards img {
        margin-bottom: 10px;
    }

    .cards .feat {
        display: flex;
        justify-content: center;
    }

    .feat img {
        margin: auto 3px;
    }

    .featured-properties-card {
        padding: 15px;
        width: 350px;
        margin: auto;
    }

    .mobile-btns {
        display: flex;
        justify-content: space-between;
    }

    .featured-properties a.mobile-btn {
        padding: 20px;
        background-color: var(--btn-bg);
        color: white;
        text-align: center;
        border-radius: 10px;
        border: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navigation img.sec {
        background-color: var(--btn-bg);

    }

    .mobile-btn-num {
        color: rgba(153, 153, 153, 1);
    }


}

@media (min-width:768px) and (max-width:991px) {
    .featured-properties-card {
        padding: 20px;
    }

    .cards {
        text-align: center;
    }

    .card-features {
        text-align: center;
        justify-content: center;
    }

    .price {
        justify-content: space-around;
    }
}

/* start testimonials */
.testimonials {
    margin-top: 100px;
}

.testimonials h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

@media (max-width:767px) {
    .testimonials h1 {
        font-size: 28px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .testimonials h1 {
        font-size: 38px;
    }
}

.testimonials p {
    color: var(--p-color);
    font-size: 15px;
    max-width: 800px;
}

.testimonials a.view-all {
    padding: 18px 24px;
    background-color: var(--btn-bg);
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

}

.testimonials-card .holder {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 40px;
}

.testimonials .testimonials-card h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.testimonials .testimonials-card p {
    color: white;
    margin-bottom: 30px;
}

.stars img {
    background-color: #80808024;
    border-color: #80808024 !important;
}

.testimonials-span {
    color: rgba(153, 153, 153, 1);
}

.des-navigation {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.des-nav-img {
    background-color: #80808024;
}

.phone-btn-num {
    color: rgba(153, 153, 153, 1);
}

@media (max-width:767px) {
    .des-navigation {
        display: none;
    }

    .testimonials a.mobile-btn {
        padding: 20px;
        background-color: var(--btn-bg);
        color: white;
        text-align: center;
        border-radius: 10px;
        border: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.red-more-test {
    padding: 14px 20px;
    color: white;
    border-radius: 8px;
    text-align: center;
    background-color: #80808024;
    display: inline-block;
    margin-top: 12px;
}